<% page_title 'Teams' %>

<% content_for :meta do %>
  <meta property="og:title" content="Teams" />
  <meta property="og:type" content="sport" />
  <meta property="og:description" content="All Teams" />
<% end %>

<h1>Listing Teams</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to(team.name, team_path(team)) %></td>
  </tr>
<% end %>
</table>
