<% page_title 'Teams' %>

<% content_for :meta do %>
  <meta property="og:title" content="Teams" />
  <meta property="og:type" content="sport" />
  <meta property="og:description" content="All Teams" />
<% end %>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <% @teams.each do |team| %>
    <tbody>
      <tr>
        <td><%= link_to(team.name, team_path(team)) %></td>
      </tr>
    </tbody>
  <% end %>
</table>
