<p>
  <b>Name:</b>
  <%= @rotation.name %>
</p>

<p>
  <b>Races:</b>
  <ul>
    <% @rotation.races.each do |r| %>
    <li><%= link_to(r.id, rotation_race_path(@rotation, r)) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_rotation_path(@rotation) %> |
<%= link_to 'Back', rotations_path %>