html, body { height: 100%; }
body { position: relative; }

a:link, a:visited {
  color: #1e3062;
  text-decoration: none;
}

a:hover, a:active { color: #5d7acd; }

/* =FLOATS */

nav:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

/* =NAV */

nav {
  background-color: #1e3062;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav li { float: left; }

nav a:link, nav a:visited {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}

nav a:hover { color: #728faf; }

/* =SECTION */

section {
  bottom: 40px;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 0;
}

/* =ARTICLE */

article {
  background-color: #fff;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 70%;
}

/* =ASIDE */

aside {
  background: #eee;
  bottom: 0;
  right: 0;
  position: fixed;
  top: 60px;
  width: 30%;
}

aside .interior { padding: 20px; }

/* =FOOTER */

footer {
  background-color: #1e3062;
  bottom: 0;
  color: #9eafe1;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer p { font: italic 16px/20px Georgia, serif; }

/* =HEADINGS */

h1 { letter-spacing: -.05em; }
h1 { padding: 30px 20px 5px 20px; }
h2 { padding: 0 20px; }
h2 a { opacity: .8; }
h3 { padding: 25px 20px 10px 20px; }

/* =TABLES */

thead th {
  color: #888;
  font: italic 16px/20px Georgia, serif;
  padding: 25px 20px 9px 20px;
}

thead tr { border-bottom: 1px solid rgba(0, 0, 0, .05); }
tr { border-bottom: 1px solid #dfe5f5; }
tr.odd { background-color: #eceff9; }
td { padding: 10px 20px 9px 20px; }

/* =FORMS */

form {
  clear: both;
  padding: 25px 20px 0 20px;
}

input {
  font: normal 11px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* =SHARED */

.button {
  float: left;
  margin-top: 36px;
}

.actions { float: right; }
.timestamp { display: none; }
.comments { padding: 0 20px; }