body {
  background: #fff;
  color: #000;
  font: normal 10px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:link, a:visited {
  color: #3f5c26;
  font-weight: bold;
  text-decoration: none;
}

img { border: 0; }

ul, ol {
  margin-left: 20px;
  padding: 0;
}

li { margin-bottom: 20px; }
abbr { border: 0; }

/* =TYPE */

h1, h2, h3, h4, h5 { margin: 0; }
p { margin: 0; }

/* =REMOVAL */

nav, aside, footer, .button, .actions { display: none; }

/* =HEADINGS */

h1 { margin-bottom: 20px; }

/* =TABLES */

table {
  table-layout: fixed;
  width: 49%;
}

table:nth-child(odd) { float: left; }

table:nth-child(even) {
  float: right;
  page-break-after: always;
}

thead { background-color: #ddd; }
tr:nth-child(even) { background-color: #eee; }

thead th {
  color: #444;
  font-size: 12px;
}

th, td {
  border: 1px solid #bbb;
  overflow: hidden;
  padding: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.race {
  text-align: center;
  width: 40px;
}