body {
  font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* =FLOATS */

nav:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

/* =NAV */

nav {
  background: #1e3062;
}

nav li { float: left; }
nav a { color: #fff; }

/* =SECTION */

section {
  float: left;
  width: 70%;
}

/* =ASIDE */

aside {
  float: left;
  width: 30%;
}

/* =HEADINGS */

h1 { letter-spacing: -.05em; }

h1 {
  font-size: 30px;
  line-height: 30px;
}

/* =TABLES */

table {
	width: 100%;
}

/*thead tr { border: 0; }*/

thead th {
	background: #d4d4d4 url("/shared/images/bg_th.png") bottom repeat-x;
	color: #646464;
	padding: 3px 9px;
	border-top: 0;
	border-bottom: 1px solid #828282;
	border-left: 1px solid #828282;
	text-align: left;
}

thead th { white-space: nowrap; }
tr { border-top: 1px solid #eee; }

td {
  border: 1px solid #000;
  padding: 10px;
}